<template>
  <div class="mat-typography--headline4 greeting">
    {{ text }}
  </div>
</template>

<script lang="ts">
import { computed, createComponent, onUnmounted } from "@vue/composition-api";
import { useStore } from "@/store/plugin";
import GreetingModule from "@/widgets/greeting/Greeting.module";

export default createComponent({
  props: {
    module: {
      type: String,
      required: true
    },
    preserveState: {
      type: Boolean,
      default: false
    }
  },
  setup(props) {
    const store = useStore();

    const text = computed(() => store.state.widgets[props.module].greeting);

    store.registerModule(
      ["widgets", props.module],
      GreetingModule(props.module, () =>
        import("@/settings/GreetingSettings.vue")
      ),
      {
        preserveState: !!props.preserveState
      }
    );

    onUnmounted(() => store.unregisterModule(["widgets", props.module]));

    return {
      text
    };
  }
});
</script>

<style lang="scss">
.greeting {
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);

  user-select: none;
}
</style>
