<template>
  <mat-dialog v-if="!adding" @close="$emit('close')">
    <template v-slot:header>
      <h2 class="mat-dialog__title">Store</h2>
    </template>

    <template v-slot:content>
      <WidgetList
        :widgets="widgets"
        @add="addWidget"
        style="max-height: 360px; overflow-y: auto; padding-top: 0; padding-bottom: 0"
      ></WidgetList>
    </template>

    <template v-slot:actions>
      <footer class="mat-dialog__actions">
        <mat-button
          @click="$emit('close')"
          aria-label="Close Store"
          data-text="closeStoreBtn"
          class="mat-dialog__button"
        >
          Close
        </mat-button>
      </footer>
    </template>
  </mat-dialog>

  <Outline
    v-else
    :width="cfg.width"
    :height="cfg.height"
    :x="cfg.x"
    :y="cfg.y"
    @click="installWidget"
    data-text="widgetOutline"
  />
</template>

<script lang="ts">
import { createComponent, reactive, ref } from "@vue/composition-api";
import WidgetList from "@/components/store/WidgetList.vue";
import Outline from "@/components/lib/Outline.vue";
import { useStore } from "@/store/plugin";
import { Dims, Pos } from "@/store/types";
import { Module } from "vuex";

const MatDialog = () => import("@/material/dialog/MatDialog.vue");
const MatButton = () => import("@/material/button/MatButton.vue");

function dashboardModule(state: Pos & Dims): Module<Pos & Dims, any> {
  return {
    namespaced: true,
    state: state,
    mutations: {
      updatePosition(state, { x, y }) {
        state.x = x;
        state.y = y;
      },
      updateDims(state, { x, y, width, height }) {
        if (x) state.x = x;
        if (y) state.y = y;

        state.width = width;
        state.height = height;
      }
    }
  };
}

interface WidgetConfig {
  name: string;
  src: string;
  width: number;
  height: number;
  x: number;
  y: number;
}

export default createComponent({
  components: {
    MatButton,
    MatDialog,
    WidgetList,
    Outline
  },
  setup() {
    const store = useStore();

    const adding = ref(false);
    const cfg = reactive({
      name: "",
      src: "",
      width: 0,
      height: 0,
      x: 0,
      y: 0
    });

    const widgets = [
      {
        name: "Greeting",
        description: "Display a greeting in every new tab.",
        src: "Greeting",
        width: 350,
        height: 40
      },
      {
        name: "Clock",
        description: "Keep track of time.",
        src: "Clock",
        width: 256,
        height: 256
      },
      {
        name: "Background",
        description: "Customize your background.",
        src: "Background",
        width: 100,
        height: 100
      },
      {
        name: "Searchbar",
        description: "Search for anything you can imagine.",
        src: "Searchbar",
        width: 350,
        height: 56
      },
      {
        name: "QuickLinks",
        description: "Have your favorite sites just one click away.",
        src: "QuickLinks",
        width: 300,
        height: 70
      }
    ];

    const addWidget = (wcfg: WidgetConfig) => {
      adding.value = !adding.value;
      cfg.name = wcfg.name;
      cfg.src = wcfg.src;
      cfg.x = wcfg.x;
      cfg.y = wcfg.y;
      cfg.width = wcfg.width;
      cfg.height = wcfg.height;
    };

    const installWidget = async ({ x, y }: Pos) => {
      adding.value = !adding.value;
      const name = store.getters.widgetMod(cfg.name);

      store.registerModule(
        ["dashboard", name],
        dashboardModule({
          x: x,
          y: y,
          width: cfg.width,
          height: cfg.height
        })
      );

      await store.dispatch("installWidget", {
        factory: () =>
          import(`@/widgets/${cfg.src.toLowerCase()}/${cfg.src}.vue`),
        name
      });
    };

    return {
      widgets,
      adding,
      cfg,
      addWidget,
      installWidget
    };
  }
});
</script>
