<template>
  <!-- TODO: Animate list filtering -->
  <mat-list class="mat-list--two-line mat-list--non-interactive">
    <mat-list-item v-for="widget in widgets" :key="widget.name">
      <span class="mat-list-item__text">
        <span class="mat-list-item__primary-text">{{ widget.name }}</span>
        <span class="mat-list-item__secondary-text">
          {{ widget.description }}
        </span>
      </span>

      <mat-icon-button
        @click="e => addWidget(e, widget)"
        :data-text="'add' + widget.name + 'Btn'"
        class="mat-list-item__meta"
      >
        add
      </mat-icon-button>
    </mat-list-item>
  </mat-list>
</template>

<script lang="ts">
import { createComponent } from "@vue/composition-api";
import MatList from "@/material/list/MatList.vue";
import MatListItem from "@/material/list/MatListItem.vue";

const MatIconButton = () => import("@/material/button/MatIconButton.vue");

export default createComponent({
  components: {
    MatIconButton,
    MatList,
    MatListItem
  },
  props: {
    filter: String,
    widgets: Array
  },
  setup(props, { emit }) {
    const addWidget = (e: any, cfg: any) =>
      emit("add", {
        name: cfg.name,
        src: cfg.src,
        width: cfg.width,
        height: cfg.height,
        x: e.clientX,
        y: e.clientY
      });

    return {
      addWidget
    };
  }
});
</script>

<style scoped lang="scss"></style>
