<template>
  <div>
    <mat-radio-group v-model="provider">
      <mat-radio
        :checked="provider === 'official'"
        label="Official Collection"
        value="official"
        name="providers"
      />
      <mat-radio
        :checked="provider === 'collection'"
        label="Custom Collection(s)"
        value="collection"
        name="providers"
      />
      <mat-radio
        :checked="provider === 'search'"
        label="Custom Search"
        value="search"
        name="providers"
      />
    </mat-radio-group>

    <transition>
      <mat-input
        v-if="provider === 'collection'"
        :value="collections"
        @change="collections = $event.target.value"
        label="Collection(s)"
        key="collection"
      />

      <Search
        v-if="provider === 'search'"
        :featured="featured"
        @change="featured = !featured"
        v-model="search"
        key="search"
      />
    </transition>
  </div>
</template>

<script lang="ts">
import { computed, createComponent } from "@vue/composition-api";
import Search from "@/components/lib/Search.vue";
import { useStore } from "@/store/plugin";
import UnsplashModule from "@/settings/background/unsplash/Unsplash.module";

const MatInput = () => import("@/material/input/MatInput.vue");
const MatRadio = () => import("@/material/radio/MatRadio.vue");
const MatRadioGroup = () => import("@/material/radio/MatRadioGroup.vue");

export default createComponent({
  components: {
    MatInput,
    MatRadio,
    MatRadioGroup,
    Search
  },
  props: {
    module: {
      type: String,
      required: true
    }
  },
  setup(props) {
    const store = useStore();

    const valid = computed(() =>
      Object.keys(store.state.widgets[props.module]).includes("Unsplash")
    );

    const provider = computed({
      get: () =>
        valid.value
          ? store.state.widgets[props.module].Unsplash.provider
          : null,
      set: val =>
        store.commit(`widgets/${props.module}/Unsplash/changeProvider`, val)
    });

    const featured = computed({
      get: () =>
        valid.value
          ? store.state.widgets[props.module].Unsplash.featured
          : null,
      set: val =>
        store.commit(`widgets/${props.module}/Unsplash/updateFeatured`, val)
    });

    const collections = computed({
      get: () =>
        valid.value
          ? store.state.widgets[props.module].Unsplash.collections
          : null,
      set: val =>
        store.commit(`widgets/${props.module}/Unsplash/changeCollections`, val)
    });

    const search = computed({
      get: () =>
        valid.value ? store.state.widgets[props.module].Unsplash.search : null,
      set: val =>
        store.commit(`widgets/${props.module}/Unsplash/changeSearch`, val)
    });

    return {
      provider,
      collections,
      featured,
      search
    };
  }
});
</script>

<style scoped lang="scss"></style>
