<template>
  <input
    v-model="query"
    @keyup.enter="search"
    type="text"
    placeholder="Search"
    class="searchbar"
  />
</template>

<script lang="ts">
import {
  computed,
  createComponent,
  onUnmounted,
  onMounted,
  ref,
  reactive
} from "@vue/composition-api";
import { useStore } from "@/store/plugin";
import SearchbarModule from "@/widgets/searchbar/Searchbar.module";

interface Engine {
  search_url: (q: string) => string;
  suggest_url?: (q: string) => string;
}

interface Engines {
  [name: string]: Engine;
}

const engines: Engines = {
  Google: {
    search_url: q => `https://www.google.com/search?q=${q}`,
    suggest_url: () =>
      "https://www.google.com/complete/search?client=chrome&q={searchTerms}&callback={callback}"
  },
  Bing: {
    search_url: q => `https://www.bing.com/search?q=${q}`,
    suggest_url: () =>
      "https://api.bing.com/osjson.aspx?query={searchTerms}&JsonType=callback&JsonCallback={callback}"
  },
  "Baidu 百度": {
    search_url: q => `https://www.baidu.com/s?wd=${q}`
  },
  DuckDuckGo: {
    search_url: q => `https://duckduckgo.com/?q=${q}`
  },
  Qwant: {
    search_url: q => `https://www.qwant.com/?q=${q}`
  },
  Ecosia: {
    search_url: q => `https://www.ecosia.org/search?q=${q}`
  },
  Lilo: {
    search_url: q => `https://search.lilo.org/results.php?q=${q}`
  },
  Startpage: {
    search_url: q => `https://www.startpage.com/do/search?q=${q}`
  },
  Яндекс: {
    search_url: q => `https://yandex.ru/search/?text=${q}`
  },
  "Поиск Mail.Ru": {
    search_url: q => `https://go.mail.ru/search?q=${q}`
  }
};

export default createComponent({
  props: {
    module: {
      type: String,
      required: true
    },
    preserveState: {
      type: Boolean,
      default: false
    }
  },
  setup(props) {
    const store = useStore();

    store.registerModule(
      ["widgets", props.module],
      SearchbarModule(props.module, () =>
        import("@/settings/SearchbarSettings.vue")
      ),
      {
        preserveState: !!props.preserveState
      }
    );

    const query = ref("");

    const provider = computed<string>(
      () => store.state.widgets[props.module].provider
    );

    onUnmounted(() => store.unregisterModule(["widgets", props.module]));

    const search = () => {
      const q = query.value;
      const p = provider.value;

      document.location.href = engines[p].search_url(q);
    };

    return {
      query,
      search
    };
  }
});
</script>

<style lang="scss">
.searchbar {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  background-color: transparent;
  width: 100%;
  height: 48px;

  outline: none;
  border: 0;
  border-bottom: 2px solid #fff;

  &::placeholder {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
    font-size: 24px;
    opacity: 1;
  }
}
</style>
