<template>
  <div
    class="container"
    :style="{
      'grid-template-columns': `repeat(${columns}, 1fr)`,
      'grid-template-rows': `repeat(${rows}, 1fr)`
    }"
  >
    <a
      v-for="link in links"
      :key="link.name"
      :href="link.url"
      class="mat-typography--headline5 quick-link"
    >
      {{ link.name }}
    </a>
  </div>
</template>

<script lang="ts">
import { computed, createComponent, onUnmounted } from "@vue/composition-api";
import { useStore } from "@/store/plugin";
import QuickLinksModule from "@/widgets/quicklinks/QuickLinks.module";

export default createComponent({
  props: {
    module: {
      type: String,
      required: true
    },
    preserveState: {
      type: Boolean,
      default: false
    }
  },
  setup(props) {
    const store = useStore();

    store.registerModule(
      ["widgets", props.module],
      QuickLinksModule(props.module, () =>
        import("@/settings/QuickLinksSettings.vue")
      ),
      {
        preserveState: !!props.preserveState
      }
    );

    const columns = computed(() => store.state.widgets[props.module].columns);

    const rows = computed(() => store.state.widgets[props.module].rows);

    const links = computed(() => store.state.widgets[props.module].links);

    onUnmounted(() => store.unregisterModule(["widgets", props.module]));

    return {
      columns,
      rows,
      links
    };
  }
});
</script>

<style lang="scss" scoped>
.container {
  display: grid;
  grid-gap: 10px 10px;
  place-items: center;
  place-content: stretch;
}

.quick-link {
  box-sizing: border-box;
  height: 35px;
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);

  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-bottom-width: 0;

  transition: all 0.3s ease;
  transition-delay: 0.1s;

  &:hover {
    border-bottom-color: rgba(255, 255, 255, 0.85);
    border-bottom-width: 3px;
  }
}
</style>
