<template functional>
  <button v-bind="data.attrs" v-on="listeners" class="mat-button">
    <slot />
  </button>
</template>

<style lang="scss">
.mat-button {
  box-sizing: border-box;

  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;

  height: 36px;
  min-width: 64px;
  padding: 0 8px;

  border: none;
  outline: none;

  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: 0.0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  line-height: inherit;

  user-select: none;
  overflow: visible;
  vertical-align: middle;

  border-radius: 4px;

  color: var(--mat-theme-primary, #6200ee);
  background-color: rgba(98, 0, 238, 0);
  transition: background-color 0.2s cubic-bezier(0.35, 0, 0.25, 1);

  &:hover:not(:disabled) {
    background-color: rgba(98, 0, 238, 0.04);
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:disabled {
    color: rgba(var(--mat-theme-on-surface, 0, 0, 0), 0.38); // ink color var
  }
}
</style>
