<template functional>
  <button
    v-bind="data.attrs"
    v-on="listeners"
    :class="data.staticClass"
    class="mat-icon-button material-icons"
  >
    <slot />
  </button>
</template>

<style lang="scss">
.mat-icon-button {
  box-sizing: border-box;
  position: relative;
  display: inline-block;

  width: 48px;
  height: 48px;
  padding: 12px;
  border: none;
  border-radius: 50%;
  outline: none;

  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;

  fill: currentColor;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s cubic-bezier(0.35, 0, 0.25, 1);

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &::-moz-focus-inner {
    border: 0;
  }
}
</style>
