<template>
  <div class="clock-container">
    <component
      :is="displayComp"
      :clockType="clockType"
      :hours="hours"
      :minutes="minutes"
      :seconds="seconds"
      :fontSize="fontSize"
      class="clock"
    ></component>

    <div
      v-if="displayName"
      :style="{ 'font-size': fontSize / 3 + 'vw' }"
      style="color: #fff; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45); user-select: none"
    >
      {{ name }}
    </div>
  </div>
</template>

<script lang="ts">
import {
  computed,
  createComponent,
  onUnmounted,
  onMounted,
  reactive,
  toRefs
} from "@vue/composition-api";
import { useStore } from "@/store/plugin";
import ClockModule, { convertHours } from "@/widgets/clock/Clock.module";

export default createComponent({
  props: {
    module: {
      type: String,
      required: true
    },
    preserveState: {
      type: Boolean,
      default: false
    }
  },
  setup(props) {
    const store = useStore();

    const clockType = computed<12 | 24>(
      () => store.state.widgets[props.module].type
    );
    const clockZone = computed<number>(
      () => store.state.widgets[props.module].zone
    );
    const fontSize = computed(() => store.state.widgets[props.module].fontSize);
    const displayName = computed(
      () => store.state.widgets[props.module].displayName
    );

    const displayComp = computed(() => {
      const disp = store.state.widgets[props.module].display;

      return () => import(`@/components/lib/clock/${disp}.vue`);
    });

    const name = computed(() => store.state.widgets[props.module].name);

    const d = new Date();
    const time = reactive({
      hours: d.getUTCHours(),
      minutes: d.getMinutes(),
      seconds: 0
    });

    store.registerModule(
      ["widgets", props.module],
      ClockModule(props.module, () => import("@/settings/ClockSettings.vue")),
      {
        preserveState: !!props.preserveState
      }
    );

    const updateTime = () => {
      const d = new Date();
      time.seconds = d.getSeconds();
      time.minutes = d.getMinutes();

      // zone is subtracted cuz browser defines it as an offset
      // so behind UTC is then positive and ahead is negative.
      time.hours = convertHours(
        d.getUTCHours(), // getUTCHours always returns [0, 23]
        clockType.value,
        clockZone.value
      );

      window.requestAnimationFrame(updateTime);
    };

    let afid: number;
    onMounted(() => {
      afid = window.requestAnimationFrame(updateTime);
    });

    onUnmounted(() => {
      window.cancelAnimationFrame(afid);
      store.unregisterModule(["widgets", props.module]);
    });

    return {
      displayComp,
      clockType,
      fontSize,
      ...toRefs(time),
      displayName,
      name
    };
  }
});
</script>

<style lang="scss">
.clock {
  width: 100%;
  height: 100%;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
