<template>
  <div :class="$data.staticClass" class="mat-select-container">
    <mat-input
      v-bind="$attrs"
      @focus="toggleMenu"
      @blur="toggleMenu"
      :value="value"
      :label="label"
      class="mat-select"
    />

    <transition name="mat-select" appear>
      <div v-if="showMenu">
        <slot />
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import { createComponent, ref } from "@vue/composition-api";
import MatInput from "@/material/input/MatInput.vue";

export default createComponent({
  inheritAttrs: false,
  components: {
    MatInput
  },
  props: {
    value: [String, Number],
    label: {
      type: String,
      required: true
    }
  },
  setup(props, { emit }) {
    const showMenu = ref(false);

    const toggleMenu = () => (showMenu.value = !showMenu.value);

    return {
      showMenu,
      toggleMenu
    };
  }
});
</script>

<style lang="scss">
.mat-select-container {
  position: relative;

  box-sizing: border-box;

  display: inline-block;

  width: 100%;
  height: 56px;

  padding: 0 12px;
}

.mat-select {
  min-width: 112px;
  max-width: 280px;
}

.mat-select-list {
  box-sizing: border-box;

  position: absolute;
  top: 56px;
  z-index: 8;

  min-width: 112px;
  max-width: 280px;

  margin: 0;

  border: none;
  border-radius: 4px;

  background-color: var(--mat-theme-surface, #fff);
  color: var(--mat-theme-on-surface, #000);

  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

  transform-origin: center top 0px;
  will-change: transform, opacity;
}

.mat-select-enter-active,
.mat-select-leave-active {
  transition: opacity 0.03s linear, transform 0.12s cubic-bezier(0, 0, 0.2, 1);
}

.mat-select-enter,
.mat-select-leave-to {
  opacity: 0;
}
</style>
