<template>
  <mat-dialog @close="$emit('close')">
    <template v-slot:header>
      <h2 class="mat-dialog__title">
        About
      </h2>
    </template>

    <template v-slot:content>
      <div
        style="height: 200px; width: 500px; overflow-y: auto; padding-top: 0; padding-bottom: 0"
      >
        <transition name="info-content" mode="out-in">
          <div v-if="!reporting">
            <p>@Home is a browser extension.</p>

            <mat-list class="mat-list--two-line">
              <mat-list-item
                @click="reporting = !reporting"
                aria-label="Submit Feddback"
                data-text="openFeedbackBtn"
              >
                <span class="mat-list-item__text">
                  <span class="mat-list-item__primary-text"
                    >Submit Feedback</span
                  >
                  <span class="mat-list-item__secondary-text">
                    Report a bug, suggest a feature, or just leave a comment
                  </span>
                </span>

                <i class="material-icons mat-list-item__meta">
                  keyboard_arrow_right
                </i>
              </mat-list-item>
            </mat-list>
          </div>

          <component
            v-else
            :is="comp"
            @valid="v => (valid = v)"
            @change="v => (curForm = v)"
          />
        </transition>
      </div>
    </template>

    <template v-slot:actions>
      <footer class="mat-dialog__actions">
        <mat-button
          v-if="reporting"
          @click="indx > 1 ? indx-- : (reporting = !reporting)"
          aria-label="Go Back"
          data-text="backBtn"
          class="mat-dialog__button"
        >
          Back
        </mat-button>

        <span style="flex: 1 1 auto"></span>

        <mat-button
          @click="$emit('close')"
          aria-label="Close About"
          data-text="closeAboutBtn"
          class="mat-dialog__button"
        >
          Close
        </mat-button>

        <transition v-if="reporting" name="info-action">
          <mat-button
            v-if="!atEnd"
            :disabled="!valid"
            @click="onNext"
            aria-label="Go to next form"
            data-text="nextBtn"
            class="mat-dialog__button"
          >
            Next
          </mat-button>

          <mat-button
            v-else
            :disabled="!valid"
            @click="submitReport"
            aria-label="Submit Feedback"
            data-text="submitFeedbackBtn"
            class="mat-dialog__button"
          >
            Submit
          </mat-button>
        </transition>
      </footer>
    </template>
  </mat-dialog>
</template>

<script lang="ts">
import { computed, createComponent, ref } from "@vue/composition-api";

const MatDialog = () => import("@/material/dialog/MatDialog.vue");
const MatList = () => import("@/material/list/MatList.vue");
const MatListItem = () => import("@/material/list/MatListItem.vue");
const MatButton = () => import("@/material/button/MatButton.vue");

export default createComponent({
  components: {
    MatButton,
    MatDialog,
    MatList,
    MatListItem
  },
  setup() {
    const curForm = ref({});
    const form = ref({});
    const reporting = ref(false);
    const valid = ref(false);
    const indx = ref(1);
    const steps = ref([
      () => import("@/components/about/Thanks.vue"),
      () => import("@/components/about/FeedbackForm.vue"),
      () => import("@/components/about/OptionalForm.vue")
    ]);

    const sLen = steps.value.length;

    const comp = computed(() => steps.value[indx.value]);
    const atEnd = computed(() => indx.value === sLen - 1 || indx.value === 0);

    const onNext = () => {
      form.value = { ...form.value, ...curForm.value };
      curForm.value = {};
      indx.value++;
    };

    const submitReport = async () => {
      const f = JSON.stringify({
        ...form.value,
        ...curForm.value
      });
      curForm.value = {};

      const resp = await fetch("https://formspree.io/mwkkdzpo", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json"
        },
        body: f
      });

      // Check response body contains ok field
      const data = await resp.json();

      if (resp.ok) {
        indx.value = 0;
        return;
      }

      throw new Error(`received error from formspree: ${data.error}`);
    };

    return {
      indx,
      comp,
      atEnd,
      curForm,
      reporting,
      valid,
      onNext,
      submitReport
    };
  }
});
</script>

<style lang="scss" scoped>
.info-content-enter-active,
.info-content-leave-active {
  transition: opacity 0.3s ease;
}

.info-content-enter,
.info-content-leave-to {
  opacity: 0;
}
</style>
