<template>
  <form class="feedback-form">
    <mat-input
      :value="form.title"
      @input="form.title = $event.target.value"
      data-text="titleField"
      label="Title"
    />

    <mat-textarea
      :value="form.descr"
      @input="form.descr = $event.target.value"
      style="width: 100%; height: 100px"
      data-text="descrField"
      label="Message"
    />
  </form>
</template>

<script lang="ts">
import {
  computed,
  createComponent,
  reactive,
  watch
} from "@vue/composition-api";

const MatInput = () => import("@/material/input/MatInput.vue");
const MatTextarea = () => import("@/material/textarea/MatTextarea.vue");

export default createComponent({
  components: {
    MatInput,
    MatTextarea
  },
  setup(props, { emit }) {
    const form = reactive({
      title: "",
      descr: ""
    });

    const validTitle = computed(() => !!form.title);
    const validDescr = computed(() => !!form.descr);

    watch(
      () => form,
      v => emit("change", v)
    );

    watch(
      () => validTitle.value && validDescr.value,
      v => emit("valid", v)
    );

    return {
      form
    };
  }
});
</script>

<style lang="scss" scoped>
.feedback-form {
  width: 450px;
}
</style>
