<template>
  <form class="optional-form">
    <p>
      The following is completely optional, but, if you're reporting a bug this
      data is useful in fixing it.
    </p>

    <mat-checkbox
      :checked="report.version"
      @input="report.version = !report.version"
      :label="lbls.version"
    />

    <mat-checkbox
      :checked="report.browser"
      @input="report.browser = !report.browser"
      :label="lbls.browser"
      style="overflow: hidden"
    />

    <mat-checkbox
      :checked="report.lang"
      @input="report.lang = !report.lang"
      :label="lbls.lang"
    />

    <mat-checkbox
      :checked="report.os"
      @input="report.os = !report.os"
      :label="lbls.os"
    />
  </form>
</template>

<script lang="ts">
import {
  computed,
  createComponent,
  reactive,
  watch
} from "@vue/composition-api";

const MatCheckbox = () => import("@/material/checkbox/MatCheckbox.vue");

export default createComponent({
  components: {
    MatCheckbox
  },
  setup(props, { emit }) {
    const report = reactive({
      version: true,
      browser: true,
      lang: true,
      os: true
    });

    const lbls = reactive({
      version: `Version: ${process.env.VUE_APP_VERSION}`,
      browser: `Browser info: ${navigator.userAgent}`,
      lang: `Language: ${navigator.language}`,
      os: `Operating system: ${navigator.platform}`
    });

    const version = computed(() =>
      report.version ? process.env.VUE_APP_VERSION : ""
    );
    const browser = computed(() => (report.browser ? navigator.userAgent : ""));
    const lang = computed(() => (report.lang ? navigator.language : ""));
    const os = computed(() => (report.os ? navigator.platform : ""));

    const form = reactive({
      version,
      browser,
      lang,
      os
    });

    watch(
      () => form,
      v => emit("change", v)
    );

    return {
      report,
      lbls,
      form
    };
  }
});
</script>

<style lang="scss" scoped>
.optional-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
</style>
