<template>
  <div class="settings">
    <mat-fab
      @click="activator"
      aria-label="Open Settings Menu"
      data-text="openMenuBtn"
      style="z-index: 2"
    >
      <svg
        v-if="!editable"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        class="mat-icon"
      >
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
      </svg>

      <span v-else class="material-icons mat-icon">
        close
      </span>
    </mat-fab>

    <transition-group name="fab-menu" class="fab-list">
      <mat-fab
        v-for="item in items"
        :key="item.icon"
        :mini="true"
        :aria-label="item.ariaLabel"
        :data-text="item.dataText"
        @click="item.onClick"
        style="z-index: 2"
      >
        <span class="material-icons mat-icon">
          {{ item.icon }}
        </span>
      </mat-fab>
    </transition-group>

    <component :is="comp" @close="comp = () => {}"></component>
  </div>
</template>

<script lang="ts">
import { computed, createComponent, ref } from "@vue/composition-api";
import { useStore } from "@/store/plugin";
import MatFab from "@/material/fab/MatFab.vue";

export default createComponent({
  components: {
    MatFab
  },
  setup() {
    const store = useStore();

    const menu = ref(false);
    const comp = ref(() => {});
    const editable = computed(() => store.state.editable);

    const items = ref(new Array<any>());
    const menuItems = [
      {
        icon: "info",
        onClick: () => {
          comp.value = () => import("@/components/about/About.vue");
        },
        ariaLabel: "Open About",
        dataText: "openAboutBtn"
      },
      {
        icon: "settings",
        onClick: () => {
          comp.value = () => import("@/components/settings/WidgetSettings.vue");
        },
        ariaLabel: "Open Settings",
        dataText: "openSettingsBtn"
      },
      {
        icon: "dashboard",
        onClick: () => {
          comp.value = () => import("@/components/store/WidgetStore.vue");
        },
        ariaLabel: "Open Store",
        dataText: "openStoreBtn"
      },
      {
        icon: "edit",
        onClick: () => {
          store.commit("editDashboard", true);
          menu.value = !menu.value;
          menuItems.forEach(() => items.value.pop());
        },
        ariaLabel: "Edit Dashboard",
        dataText: "editDashboardBtn"
      }
    ];

    const activator = () => {
      if (editable.value) {
        store.commit("editDashboard", false);
        return;
      }

      menu.value = !menu.value;
      if (menu.value) {
        menuItems.forEach(v => items.value.push(v));
      } else {
        menuItems.forEach(() => items.value.pop());
      }
    };

    return {
      editable,
      menu,
      comp,
      items,
      activator
    };
  }
});
</script>

<style lang="scss" scoped>
.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.fab-list {
  display: inherit;
  flex-direction: inherit;
}

.fab-menu-enter-active,
.fab-menu-leave-active {
  transition: opacity 0.3s ease;
}

.fab-menu-enter,
.fab-menu-leave-to {
  opacity: 0;
}
</style>
