<template>
  <div>
    <input v-model.lazy="color" type="color" id="colorPicker" />
    <label for="colorPicker">Color</label>
  </div>
</template>

<script lang="ts">
import { computed, createComponent } from "@vue/composition-api";
import { useStore } from "@/store/plugin";

export default createComponent({
  props: {
    module: {
      type: String,
      required: true
    }
  },
  setup(props) {
    const store = useStore();

    const valid = computed(() =>
      Object.keys(store.state.widgets[props.module]).includes("Color")
    );

    const color = computed({
      get: () =>
        valid.value ? store.state.widgets[props.module].Color.color : null,
      set: val => store.commit(`widgets/${props.module}/Color/changeColor`, val)
    });

    return {
      color
    };
  }
});
</script>
