<template functional>
  <div :style="data.staticStyle" class="credits">
    <span>
      <a
        v-for="credit in props.credits"
        :key="credit.name"
        :href="credit.link"
        class="credit-link"
      >
        {{ credit.name }}
      </a>
    </span>

    <span v-if="props.location">{{ props.location }}</span>
  </div>
</template>

<style lang="scss" scoped>
.credits {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px 15px 15px;

  display: flex;
  justify-content: space-between;

  color: #fff;
}

.credit-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  user-select: none;

  &:hover {
    text-decoration: underline;
  }

  &:after {
    content: "/";
  }

  &:last-child:after {
    content: "";
  }
}
</style>
