<template functional>
  <button
    v-bind="data.attrs"
    v-on="listeners"
    :class="props.mini ? ['mat-mini-fab'] : ['mat-fab']"
    :key="data.key"
  >
    <slot />
  </button>
</template>

<style lang="scss">
@mixin mat-fab-base {
  box-sizing: border-box;

  color: white;
  background-color: var(--mat-theme-primary);
  border: none;
  border-radius: 50%;

  font-size: 24px;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  fill: currentColor;

  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);

  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 0.27s cubic-bezier(0, 0, 0.2, 1) 0ms,
    -webkit-transform 0.27s cubic-bezier(0, 0, 0.2, 1) 0ms;

  &::-moz-focus-inner {
    border: none;
  }

  &:hover {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    opacity: 0.92;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12);
  }
}

.mat-fab {
  @include mat-fab-base();

  width: 56px;
  height: 56px;

  padding: 16px;
}

.mat-mini-fab {
  @include mat-fab-base();

  width: 40px;
  height: 40px;

  padding: 8px;
}
</style>
