<template functional>
  <label class="mat-checkbox" :style="data.staticStyle">
    <input v-bind="data.attrs" v-on="listeners" type="checkbox" />
    <span class="mat-checkmark"></span>

    {{ props.label }}
  </label>
</template>

<style lang="scss">
.mat-checkbox input {
  box-sizing: border-box;
  opacity: 0;

  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;

  &:checked {
    + .mat-checkmark:before {
      background-color: var(--mat-theme-primary);
      border: none;
    }

    + .mat-checkmark:after {
      $md-checkmark-size: 1.25em - 2 * 0.25em;

      transform: translate(0.25em, (1.25em / 2) - ($md-checkmark-size / 2.6))
        rotate(-45deg);
      width: $md-checkmark-size;
      height: $md-checkmark-size / 2;

      border: 0.125em solid #fff;
      border-top-style: none;
      border-right-style: none;
    }
  }
}

.mat-checkbox {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  text-align: left;

  padding: 0;
  margin: 0;

  line-height: 24px;
  height: 24px;
}

.mat-checkmark {
  box-sizing: border-box;

  cursor: pointer;
  display: inline;
  line-height: 24px;

  vertical-align: center;
  clear: both;
  padding-right: 8px;

  &:not(:empty) {
    padding-left: 1em;
  }

  &:before,
  &:after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
  }

  &:before {
    // box
    width: 1.25em;
    height: 1.25em;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 0.125em;
    cursor: pointer;
    transition: background 0.3s;
  }

  &:after {
    // checkmark
  }
}
</style>
