<template>
  <div
    :style="[
      color
        ? {
            'background-color': color
          }
        : '',
      image
        ? {
            'background-image': `url(${image})`
          }
        : ''
    ]"
    style="z-index: -2"
  >
    <Credits
      :credits="credits"
      :location="location"
      style="position: absolute; bottom: 0; left: 0"
    />
  </div>
</template>

<script lang="ts">
import {
  computed,
  createComponent,
  onBeforeUnmount,
  onUnmounted,
  ref,
  watch
} from "@vue/composition-api";
import { useStore } from "@/store/plugin";
import BackgroundModule from "@/widgets/background/Background.module";
import Credits from "@/components/lib/background/Credits.vue";

export default createComponent({
  components: {
    Credits
  },
  props: {
    module: {
      type: String,
      required: true
    },
    preserveState: {
      type: Boolean,
      default: false
    }
  },
  setup(props) {
    const store = useStore();

    store.registerModule(
      ["widgets", props.module],
      BackgroundModule(props.module, () =>
        import("@/settings/BackgroundSettings.vue")
      ),
      {
        preserveState: !!props.preserveState
      }
    );

    const color = ref("");
    const image = ref("");

    const credits = ref([]);
    const location = ref("");

    const unwatch = watch(
      () => store.state.widgets[props.module].provider,
      async (v, o, onCleanup) => {
        if (!v || v === o) return;
        color.value = "";
        image.value = "";

        const l = v.toLowerCase();
        const mod = await import(`@/settings/background/${l}/${l}Provider.ts`);

        const cancel = await mod.default(
          props.module,
          store,
          color,
          image,
          credits,
          location
        );

        onCleanup(() => cancel());
      }
    );

    onBeforeUnmount(() => unwatch());

    onUnmounted(() => store.unregisterModule(["widgets", props.module]));

    return {
      color,
      image,
      credits,
      location
    };
  }
});
</script>

<style lang="scss" scoped></style>
