<script lang="ts">
import { createComponent, createElement } from "@vue/composition-api";
import { useStore } from "@/store/plugin";
import { useDraggable } from "@/components/dashboard/Draggable";
import { useResizable } from "@/components/dashboard/Resizable";

export default createComponent({
  props: {
    name: {
      type: String,
      required: true
    },
    editable: {
      type: Boolean,
      required: true
    }
  },
  setup(props, { slots }) {
    const store = useStore();

    const cfg = store.state.dashboard[props.name];

    // Draggable
    const { x, y, drag } = useDraggable(cfg.x, cfg.y, (xPos, yPos) =>
      store.commit(`dashboard/${props.name}/updatePosition`, {
        x: xPos,
        y: yPos
      })
    );

    // Resizable
    const { width, height, onResizeStart } = useResizable(
      cfg.width,
      cfg.height
    );

    const top_right = onResizeStart(
      ([nx, ny], [ox, oy]) => {
        const dx = nx - ox;
        const dy = ny - oy;

        if (dx !== 0) width.value += dx;
        if (dy === 0) return;

        y.value += dy;
        height.value -= dy;
      },
      (w, h) =>
        store.commit(`dashboard/${props.name}/updateDims`, {
          y: y.value,
          width: w,
          height: h
        })
    );

    const bottom_right = onResizeStart(
      ([nx, ny], [ox, oy]) => {
        const dx = nx - ox;
        const dy = ny - oy;

        if (dx !== 0) width.value += dx;
        if (dy !== 0) height.value += dy;
      },
      (w, h) =>
        store.commit(`dashboard/${props.name}/updateDims`, {
          width: w,
          height: h
        })
    );

    const bottom_left = onResizeStart(
      ([nx, ny], [ox, oy]) => {
        const dx = nx - ox;
        const dy = ny - oy;

        if (dy !== 0) height.value += dy;
        if (dx === 0) return;

        x.value += dx;
        width.value -= dx;
      },
      (w, h) =>
        store.commit(`dashboard/${props.name}/updateDims`, {
          x: x.value,
          width: w,
          height: h
        })
    );

    const top_left = onResizeStart(
      ([nx, ny], [ox, oy]) => {
        const dx = nx - ox;
        const dy = ny - oy;

        if (dy !== 0) {
          y.value += dy;
          height.value -= dy;
        }

        if (dx === 0) return;

        x.value += dx;
        width.value -= dx;
      },
      (w, h) =>
        store.commit(`dashboard/${props.name}/updateDims`, {
          x: x.value,
          y: y.value,
          width: w,
          height: h
        })
    );

    Object.defineProperty(top_right, "name", { value: "top_right" });
    Object.defineProperty(bottom_right, "name", { value: "bottom_right" });
    Object.defineProperty(bottom_left, "name", { value: "bottom_left" });
    Object.defineProperty(top_left, "name", { value: "top_left" });

    const resizers = [top_right, bottom_left, bottom_right, top_left];

    return () => {
      const c = slots.default({
        x: x.value,
        y: y.value,
        width: width.value,
        height: height.value,
        drag
      });

      if (!c) return;

      const v = c[0];

      if (props.editable && !v.children)
        v.children = resizers.map(r => {
          return createElement("div", {
            on: {
              mousedown: (e: Event) => {
                e.stopPropagation();
                r(e);
              }
            },
            staticClass: `resizer ${r.name}`,
            attrs: {
              "data-text": `${r.name}`
            }
          });
        });

      return v;
    };
  }
});
</script>

<style lang="scss" scoped>
.resizer {
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  z-index: 10;
}

.top_right {
  top: 0;
  right: 0;
  cursor: nesw-resize;
}

.bottom_right {
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
}

.bottom_left {
  bottom: 0;
  left: 0;
  cursor: nesw-resize;
}

.top_left {
  top: 0;
  left: 0;
  cursor: nwse-resize;
}
</style>
