<template functional>
  <li
    v-bind="data.attrs"
    v-on="listeners"
    :key="data.key"
    :class="data.staticClass"
    class="mat-list-item"
  >
    <slot />
  </li>
</template>

<style lang="scss">
.mat-list-item {
  box-sizing: border-box;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 48px;
  padding: 0 16px;

  font-size: 16px;

  overflow: hidden;
  transition: background-color 15ms linear;

  &:focus {
    outline: none;
  }
}

.mat-list-item--disabled {
  color: var(--mat-theme-text-hint-on-background, rgba(0, 0, 0, 0.38));
}

.mat-list-item__graphic {
  box-sizing: border-box;

  width: 24px;
  height: 24px;
  margin-right: 32px;
  border-radius: 50%;

  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  fill: currentColor;

  background-color: transparent;
  color: var(--mat-theme-text-icon-on-background, rgba(0, 0, 0, 0.38));
}

.mat-list-item__meta {
  box-sizing: border-box;

  margin-left: auto;
  margin-right: 0;

  color: var(--mat-theme-text-hint-on-background, rgba(0, 0, 0, 0.38));
}

.mat-list-item__text {
  box-sizing: border-box;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mat-list-item__primary-text {
  box-sizing: border-box;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  margin-top: 0;
  line-height: normal;

  &:before {
    box-sizing: border-box;
    display: inline-block;
    width: 0;
    height: 32px;
    content: "";
    vertical-align: 0;
  }

  margin-bottom: -20px;

  &:after {
    box-sizing: border-box;
    display: inline-block;
    width: 0;
    height: 20px;
    content: "";

    vertical-align: -20px;
  }

  display: block;
}

.mat-list-item__secondary-text {
  box-sizing: border-box;

  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.0178571429em;
  text-decoration: inherit;
  text-transform: inherit;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  display: block;
  margin-top: 0;
  line-height: normal;

  &:before {
    box-sizing: border-box;
    display: inline-block;
    width: 0;
    height: 20px;
    content: "";
    vertical-align: 0;
  }

  color: var(--mat-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}

.mat-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;

  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: inherit;
  line-height: 19px;

  &:nth-child(n + 2) {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    line-height: 16.5px;
  }
}

.mat-list-action {
  margin-left: auto;
  margin-right: 0;
  color: rgba(0, 0, 0, 0.54);
}
</style>
