<template functional>
  <ul
    v-bind="data.attrs"
    :key="data.key"
    :class="data.staticClass"
    class="mat-list"
  >
    <slot />
  </ul>
</template>

<style lang="scss">
.mat-list {
  box-sizing: border-box;

  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.009375em;
  text-decoration: inherit;
  text-transform: inherit;
  line-height: 1.5rem;
  margin: 0;
  padding: 8px 0;
  list-style-type: none;
  color: rgba(0, 0, 0, 0.87);

  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s linear;

  &:focus {
    outline: none;
  }

  // Extra specificity is to override .material-icons display style if used in
  // conjunction with mdc-list-item__graphic
  // stylelint-disable plugin/selector-bem-pattern
  .mat-list-item__graphic {
    display: inline-flex;
  }
}

.mat-list--avatar-list {
  .mat-list-item {
    height: 56px;
  }

  .mat-list-item__graphic {
    width: 40px;
    height: 40px;
    margin-right: 16px;

    border-radius: 50%;
  }
}

.mat-list--two-line {
  .mat-list-item__text {
    align-self: flex-start;
  }

  .mat-list-item {
    height: 72px;
  }
}

// Only change mouse cursor for interactive list items which are not disabled.
:not(.mat-list--non-interactive)
  > :not(.mat-list-item--disabled).mat-list-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
}
</style>
