<template functional>
  <svg
    :class="data.staticClass"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 256 256"
  >
    <circle
      cx="128"
      cy="128"
      r="126"
      stroke="white"
      stroke-width="4"
      fill="black"
      fill-opacity="15%"
    />
    <circle
      cx="128"
      cy="128"
      r="8"
      stroke="white"
      stroke-width="1"
      fill="white"
    />

    <line
      v-for="n in props.clockType"
      :key="n"
      :transform="`rotate(${(360 * (n - 1)) / props.clockType} 128 128)`"
      x1="128"
      y1="20"
      x2="128"
      y2="8"
      stroke="white"
      stroke-width="2"
      stroke-linecap="round"
    />

    <line
      :style="{
        transform: `rotate(${(360 * props.hours) / props.clockType}deg)`
      }"
      x1="128"
      y1="128"
      x2="128"
      y2="48"
      stroke="white"
      stroke-width="4"
      stroke-linecap="round"
      class="clock-hand"
    />

    <line
      :style="{
        transform: `rotate(${6 * props.minutes + 360 * props.hours}deg)`
      }"
      x1="128"
      y1="128"
      x2="128"
      y2="14"
      stroke="white"
      stroke-width="4"
      stroke-linecap="round"
      class="clock-hand"
    />

    <line
      :style="{
        transform: `rotate(${6 * props.seconds + 360 * props.minutes}deg)`
      }"
      x1="128"
      y1="128"
      x2="128"
      y2="14"
      stroke="rgba(255, 255, 255, 1.0)"
      stroke-width="1"
      stroke-linecap="round"
      class="clock-hand"
    />
  </svg>
</template>

<style lang="scss" scoped>
.clock-hand {
  transform-origin: 128px 128px;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}
</style>
