<template functional>
  <div :style="{ 'font-size': props.fontSize + 'vw' }" class="digital-clock">
    {{ props.clockType === 12 && props.hours === 0 ? 12 : props.hours }}:{{
      props.minutes
    }}:{{ props.seconds }}
  </div>
</template>

<style lang="scss">
.digital-clock {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);

  user-select: none;
}
</style>
