<template>
  <div>
    <mat-select
      v-model="provider"
      label="Pick a Provider"
      class="settings-menu"
    >
      <template>
        <mat-list class="mat-select-list">
          <mat-list-item
            v-for="p in providers"
            :key="p.value"
            @click="provider = p.value"
          >
            <span class="mat-list-item__text">
              {{ p.name }}
            </span>
          </mat-list-item>
        </mat-list>
      </template>
    </mat-select>

    <transition name="settings-fade" mode="out-in">
      <component
        :is="providerSettings"
        :module="module"
        @hook:mounted="
          store.commit(`widgets/${module}/changeProvider`, provider)
        "
      ></component>
    </transition>
  </div>
</template>

<script lang="ts">
import { computed, createComponent, ref } from "@vue/composition-api";
import MatSelect from "@/material/select/MatSelect.vue";
import MatList from "@/material/list/MatList.vue";
import MatListItem from "@/material/list/MatListItem.vue";
import { useStore } from "@/store/plugin";

export default createComponent({
  components: {
    MatList,
    MatListItem,
    MatSelect
  },
  props: {
    module: {
      type: String,
      required: true
    }
  },
  setup(props) {
    const store = useStore();

    const providers = [
      {
        name: "Color",
        value: "Color"
      },
      {
        name: "Unsplash Images",
        value: "Unsplash"
      }
    ];

    const provider = ref<string>(store.state.widgets[props.module].provider);

    const providerSettings = computed(() => {
      const v = provider.value;
      if (!v) return;
      return () => import(`@/settings/background/${v.toLowerCase()}/${v}.vue`);
    });

    return {
      providers,
      provider,
      providerSettings,
      store
    };
  }
});
</script>

<style lang="scss" scoped>
.settings-menu {
  width: 180px;
  z-index: 2;
}

.settings-fade-enter-active,
.settings-fade-leave-active {
  transition: opacity 0.3s ease;
}
.settings-fade-enter, .settings-fade-leave-to
    /* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
