<template>
  <div>
    <div>
      <mat-checkbox
        :checked="displayName"
        @change="displayName = !displayName"
        label="Show Name"
      />
    </div>

    <mat-input
      :value="fontSize"
      @change="fontSize = $event.target.value"
      label="Font Size"
      type="number"
    />

    <div>
      Clock:

      <mat-radio-group v-model="clockType">
        <mat-radio
          :checked="clockType == 12"
          label="12"
          value="12"
          name="clockType"
        />
        <mat-radio
          :checked="clockType == 24"
          label="24"
          value="24"
          name="clockType"
        />
      </mat-radio-group>
    </div>

    <div>
      Display:

      <mat-radio-group v-model="clockDisplay">
        <mat-radio
          :checked="clockDisplay === 'Analog'"
          label="Analog"
          value="Analog"
          name="clockDisplay"
        />
        <mat-radio
          :checked="clockDisplay === 'Digital'"
          label="Digital"
          value="Digital"
          name="clockDisplay"
        />
      </mat-radio-group>
    </div>

    <div>
      Zone:

      <mat-slider
        :value="-1 * clockZone"
        @input="clockZone = -1 * $event.target.value"
        :min="-12"
        :max="14"
        :step="1"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { computed, createComponent } from "@vue/composition-api";
import MatSlider from "@/material/slider/MatSlider.vue";
import { useStore } from "@/store/plugin";

const MatInput = () => import("@/material/input/MatInput.vue");
const MatCheckbox = () => import("@/material/checkbox/MatCheckbox.vue");
const MatRadioGroup = () => import("@/material/radio/MatRadioGroup.vue");
const MatRadio = () => import("@/material/radio/MatRadio.vue");

export default createComponent({
  components: {
    MatCheckbox,
    MatInput,
    MatRadioGroup,
    MatRadio,
    MatSlider
  },
  props: {
    module: {
      type: String,
      required: true
    }
  },
  setup(props) {
    const store = useStore();

    const clockType = computed({
      get: () => store.state.widgets[props.module].type,
      set: val =>
        store.commit(`widgets/${props.module}/changeType`, parseInt(val, 10))
    });

    const clockDisplay = computed({
      get: () => store.state.widgets[props.module].display,
      set: val => store.commit(`widgets/${props.module}/changeDisplay`, val)
    });

    const clockZone = computed({
      get: () => store.state.widgets[props.module].zone,
      set: val => store.commit(`widgets/${props.module}/changeZone`, val)
    });

    const displayName = computed({
      get: () => store.state.widgets[props.module].displayName,
      set: () => store.commit(`widgets/${props.module}/showDisplayName`)
    });

    const fontSize = computed({
      get: () => store.state.widgets[props.module].fontSize,
      set: val => store.commit(`widgets/${props.module}/updateFontSize`, val)
    });

    return {
      clockType,
      clockDisplay,
      clockZone,
      displayName,
      fontSize
    };
  }
});
</script>

<style scoped lang="scss"></style>
