<template>
  <mat-input
    :value="greeting"
    @change="greeting = $event.target.value"
    label="Greeting"
    data-text="editGreeting"
  />
</template>

<script lang="ts">
import {
  computed,
  createComponent,
  onUnmounted,
  onMounted,
  ref
} from "@vue/composition-api";
import { useStore } from "@/store/plugin";

const MatInput = () => import("@/material/input/MatInput.vue");

export default createComponent({
  components: {
    MatInput
  },
  props: {
    module: {
      type: String,
      required: true
    }
  },
  setup(props) {
    const store = useStore();

    const greeting = computed({
      get: () => store.state.widgets[props.module].greeting,
      set: val => store.commit(`widgets/${props.module}/updateGreeting`, val)
    });

    return {
      greeting
    };
  }
});
</script>

<style scoped lang="scss"></style>
