<template>
  <div
    style="min-height: 72px; max-height: 360px; width: 300px; position: relative"
  >
    <mat-input
      :value="rows"
      @change="rows = $event.target.value"
      label="Rows"
      type="number"
      style="width: 300px"
    />

    <mat-input
      :value="cols"
      @change="cols = $event.target.value"
      label="Columns"
      type="number"
      style="width: 300px"
    />

    <div
      style="min-height: 72px; max-height: 360px; width: 300px; position: relative"
    >
      <transition-group
        name="slide-rtl"
        class="mat-list mat-list--avatar-list mat-list--two-line"
        tag="ul"
        style="max-height: 288px; padding: 0; overflow-y: auto; overflow-x: hidden"
      >
        <LinkListItem
          v-for="(link, index) in links"
          :key="link.name"
          :link="link"
          @update="l => updateLink(index, l)"
        />
      </transition-group>

      <div class="link-form-container">
        <transition name="add-link-fade" mode="out-in" key="trans">
          <LinkListForm
            v-if="adding"
            @link="addLink"
            key="add-link"
          ></LinkListForm>

          <li
            v-else
            @click="adding = !adding"
            class="mat-list-item"
            key="show-add-link"
          >
            <i class="mat-list-item__graphic material-icons">add</i>

            <span class="mat-list-item__text">
              <span class="mat-list-item__primary-text">Add Link</span>
              <span class="mat-list-item__secondary-text">Click here</span>
            </span>
          </li>
        </transition>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, createComponent, ref } from "@vue/composition-api";
import { useStore } from "@/store/plugin";
import LinkListItem from "@/components/lib/LinkListItem.vue";

const LinkListForm = () => import("@/components/lib/LinkListForm.vue");
const MatInput = () => import("@/material/input/MatInput.vue");

interface Link {
  icon: Blob;
  name: string;
  url: string;
}

export default createComponent({
  components: {
    LinkListItem,
    LinkListForm,
    MatInput
  },
  props: {
    module: {
      type: String,
      required: true
    }
  },
  setup(props) {
    const store = useStore();

    const adding = ref(false);
    const links = ref([...store.state.widgets[props.module].links]);

    const rows = computed({
      get: () => store.state.widgets[props.module].rows,
      set: v => store.commit(`widgets/${props.module}/updateRows`, v)
    });

    const cols = computed({
      get: () => store.state.widgets[props.module].columns,
      set: v => store.commit(`widgets/${props.module}/updateColumns`, v)
    });

    const updateLink = (i: number, link: Link) =>
      store.commit(`widgets/${props.module}/updateLink`, { i, link });

    const addLink = (l: Link) => {
      links.value.push(l);
      store.commit(`widgets/${props.module}/pushLink`, l);
      adding.value = !adding.value;
    };

    return {
      links,
      adding,
      rows,
      cols,
      addLink,
      updateLink
    };
  }
});
</script>

<style lang="scss" scoped>
.link-form-container {
  position: relative;
  bottom: 0;
}

.link-form-container .mat-list-item {
  height: 72px;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.009375em;
  text-transform: inherit;
  list-style-type: none;
  color: var(--mat-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

$list-item-duration: 0.3s;

:not(.mat-list--non-interactive)
  > :not(.mat-list-item--disabled).mat-list-item::before {
  transition-duration: $list-item-duration;
  transition-timing-function: ease;
}

:not(.mat-list--non-interactive)
  > :not(.mat-list-item--disabled).mat-list-item::after {
  transition-duration: $list-item-duration;
  transition-timing-function: ease;
}

.slide-rtl-enter-active,
.slide-rtl-leave-active {
  transition: all 0.5s ease;
}

.slide-rtl-enter,
.slide-rtl-leave-to {
  transform: translateX(100px);
}

.add-link-fade-enter-active,
.add-link-fade-leave-active {
  transition: opacity 0.3s ease;
}

.add-link-fade-enter,
.add-link-fade-leave-to {
  opacity: 0;
}
</style>
