<template>
  <mat-select
    v-model="provider"
    label="Select a Search Engine"
    class="searchbar-settings"
  >
    <template>
      <mat-list class="mat-select-list searchbar-option-list">
        <mat-list-item
          v-for="p in providers"
          :key="p.value"
          @click="provider = p"
        >
          <span class="mat-list-item__text">
            {{ p }}
          </span>
        </mat-list-item>
      </mat-list>
    </template>
  </mat-select>
</template>

<script lang="ts">
import { computed, createComponent } from "@vue/composition-api";
import MatSelect from "@/material/select/MatSelect.vue";
import MatList from "@/material/list/MatList.vue";
import MatListItem from "@/material/list/MatListItem.vue";
import { useStore } from "@/store/plugin";

export default createComponent({
  components: {
    MatList,
    MatListItem,
    MatSelect
  },
  props: {
    module: {
      type: String,
      required: true
    }
  },
  setup(props) {
    const store = useStore();

    const providers = [
      "Google",
      "Bing",
      "Baidu 百度",
      "DuckDuckGo",
      "Qwant",
      "Ecosia",
      "Lilo",
      "Startpage",
      "Яндекс",
      "Поиск Mail.Ru"
    ];

    const provider = computed({
      get: () => store.state.widgets[props.module].provider,
      set: val => store.commit(`widgets/${props.module}/changeProvider`, val)
    });

    return {
      provider,
      providers
    };
  }
});
</script>

<style lang="scss" scoped>
.searchbar-settings {
  width: 240px;
}

.searchbar-option-list {
  width: 200px;
}
</style>
