<template>
  <li class="mat-list-item mat-list-item--disabled">
    <span class="link-form">
      <input
        v-model="link.name"
        class="link-name-input"
        placeholder="Name"
        ref="nameInputRef"
      />
      <input
        v-model="link.url"
        class="link-url-input"
        placeholder="URL"
        ref="urlInputRef"
      />
    </span>

    <mat-icon-button
      @click="emitLink"
      class="mat-list-item__meta"
      :style="{ color: valid ? 'var(--mat-theme-primary)' : '' }"
      :disabled="!valid"
    >
      check
    </mat-icon-button>
  </li>
</template>

<script lang="ts">
import { computed, createComponent, reactive } from "@vue/composition-api";

const MatIconButton = () => import("@/material/button/MatIconButton.vue");

const urlMatcher = new RegExp(/https?:\/\/*/);

export default createComponent({
  components: {
    MatIconButton
  },
  props: {
    name: String,
    url: String
  },
  setup(props, { emit }) {
    const link = reactive({
      name: props.name ? props.name : "",
      url: props.url ? props.url : ""
    });

    const valid = computed(() => {
      const hasName = !!link.name;

      const validUrl = link.url.match(urlMatcher);

      return hasName && validUrl;
    });

    const emitLink = () =>
      emit("link", {
        name: link.name,
        url: link.url
      });

    return {
      link,
      valid,
      emitLink
    };
  }
});
</script>

<style scoped lang="scss">
.link-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: visible;

  input {
    padding: 0;
    margin: 0;
    width: 90%;
    height: 34px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);

    &:focus {
      border-bottom-color: var(--mat-theme-primary);
    }
  }
}
</style>
