<template>
  <transition name="item-fade" mode="out-in">
    <li
      class="mat-list-item"
      v-if="!editing"
      @click="editing = !editing"
      key="display-link"
    >
      <span class="mat-list-item__text">
        <span class="mat-list-item__primary-text">{{ mlink.name }}</span>
        <span class="mat-list-item__secondary-text">{{ mlink.url }}</span>
      </span>
    </li>

    <LinksListForm
      v-else
      :name="mlink.name"
      :url="mlink.url"
      @link="updateLink"
      key="edit-link"
    />
  </transition>
</template>

<script lang="ts">
import { createComponent, reactive, ref } from "@vue/composition-api";

const LinksListForm = () => import("@/components/lib/LinkListForm.vue");

export default createComponent({
  components: {
    LinksListForm
  },
  props: {
    link: {
      type: Object,
      required: true
    },
    displayForm: {
      type: Boolean,
      default: false
    }
  },
  setup(props, { emit }) {
    const editing = ref(props.displayForm);

    const mlink = reactive({
      name: props.link.name,
      url: props.link.url
    });

    const updateLink = (l: { name: string; url: string }) => {
      emit("update", l);
      mlink.name = l.name;
      mlink.url = l.url;
      editing.value = !editing.value;
    };

    return {
      editing,
      mlink,
      updateLink
    };
  }
});
</script>

<style lang="scss" scoped>
.item-fade-enter-active,
.item-fade-leave-active {
  transition: opacity 0.5s ease;
}

.item-fade-enter,
.item-fade-leave-to {
  opacity: 0;
}
</style>
