<template>
  <div
    @click="$emit('click', { x: left, y: top })"
    class="widget-outline"
    :style="{
      width: width + 'px',
      height: height + 'px',
      left: left + 'px',
      top: top + 'px'
    }"
  ></div>
</template>

<script lang="ts">
import {
  computed,
  createComponent,
  onMounted,
  onUnmounted,
  ref
} from "@vue/composition-api";

export default createComponent({
  props: {
    width: {
      type: Number,
      required: true
    },
    height: {
      type: Number,
      required: true
    },
    x: {
      type: Number,
      required: true
    },
    y: {
      type: Number,
      required: true
    }
  },
  setup(props) {
    const dw = props.width / 2.0;
    const dh = props.height / 2.0;

    const x = ref(props.x);
    const y = ref(props.y);

    const left = computed(() => x.value - dw);
    const top = computed(() => y.value - dh);

    const updateMoveState = (e: any) => {
      x.value = e.clientX;
      y.value = e.clientY;
    };

    onMounted(() => document.addEventListener("mousemove", updateMoveState));

    onUnmounted(() =>
      document.removeEventListener("mousemove", updateMoveState)
    );

    return {
      left,
      top
    };
  }
});
</script>

<style lang="scss" scoped>
.widget-outline {
  position: fixed;
  z-index: 4;

  box-sizing: border-box;

  display: inline-block;

  border-style: dashed;
  border-width: 4px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
</style>
