<template>
  <div>
    <div>
      <mat-checkbox
        :checked="featured"
        @input="$emit('change')"
        label="Featured"
      />
    </div>

    <div>
      <mat-input
        :value="value"
        @change="$emit('input', $event.target.value)"
        label="Search"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { createComponent } from "@vue/composition-api";

const MatInput = () => import("@/material/input/MatInput.vue");
const MatCheckbox = () => import("@/material/checkbox/MatCheckbox.vue");

export default createComponent({
  components: {
    MatInput,
    MatCheckbox
  },
  props: {
    featured: Boolean,
    value: String
  },
  setup() {}
});
</script>
