<script lang="ts">
import { createComponent, createElement } from "@vue/composition-api";

export default createComponent({
  props: {
    value: [String, Number]
  },
  setup(props, { slots, emit }) {
    return () => {
      const radios = slots.default();

      radios.forEach(r => {
        if (!r.data) return;

        (r.data as any).on = {
          input: (e: any) => emit("input", e.target.value),
          ...(r.data as any).on
        };
      });

      return createElement(
        "div",
        {
          attrs: {
            class: "mat-radio-group"
          }
        },
        radios
      );
    };
  }
});
</script>

<style lang="scss">
.mat-radio-group {
  box-sizing: border-box;

  padding-left: 10%;

  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
</style>
