<template functional>
  <label class="mat-radio">
    <input v-bind="data.attrs" v-on="listeners" :key="data.key" type="radio" />
    <span class="mat-circle"></span>

    {{ props.label }}
  </label>
</template>

<style lang="scss">
.mat-radio input {
  box-sizing: border-box;
  opacity: 0;

  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;

  &:checked {
    + .mat-circle:before {
      border-color: var(--mat-theme-primary);
    }

    + .mat-circle:after {
      $md-checkmark-size: 1.25em - 2 * 0.25em;

      transform: translate(0.25em, 0.25em) scale(1);
      width: $md-checkmark-size;
      height: $md-checkmark-size;

      background-color: var(--mat-theme-primary);
      border: 0.125em solid var(--mat-theme-primary);
      border-radius: 50%;
    }
  }
}

.mat-radio {
  box-sizing: border-box;
  position: relative;
  text-align: left;

  padding: 0;
  margin: 0;

  line-height: 24px;
}

.mat-circle {
  box-sizing: border-box;

  cursor: pointer;
  display: inline;
  line-height: 24px;

  vertical-align: center;
  clear: both;
  padding-right: 8px;

  &:not(:empty) {
    padding-left: 1em;
  }

  &:before,
  &:after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
  }

  &:before {
    // box
    width: 1.25em;
    height: 1.25em;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 50%;
    cursor: pointer;
    transition: border-color 0.3s;
  }

  &:after {
    // checkmark
    transform: translate(0.25em, 0.25em) scale(0);
    transition: transform 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  }
}
</style>
