<template>
  <div class="mat-slider-container" ref="slider">
    <div
      :style="
        showThumb
          ? { transform: `translateX(${z}px) rotate(-45deg) scale(1)` }
          : {}
      "
      style="position: absolute; z-index: 2"
      class="mat-slider-thumb"
    >
      <span class="mat-thumb-value">{{ value }}</span>
    </div>

    <input
      v-bind="$attrs"
      v-on="$listeners"
      @mousedown="toggleThumb"
      @mouseup="toggleThumb"
      :value="value"
      :min="min"
      :max="max"
      :step="step"
      class="mat-slider"
      type="range"
    />
  </div>
</template>

<script lang="ts">
import {
  computed,
  createComponent,
  onMounted,
  ref
} from "@vue/composition-api";

export default createComponent({
  inheritAttrs: false,
  props: {
    min: {
      type: Number,
      required: true
    },
    max: {
      type: Number,
      required: true
    },
    value: [String, Number],
    step: {
      type: Number,
      default: 1
    }
  },
  setup(props) {
    const slider = ref<Element>();
    const showThumb = ref(false);
    const w = ref(0);

    const diff = computed(() => props.max - props.min);

    const n = computed(() => Math.ceil(diff.value / props.step));

    const z = computed(
      () => w.value * (((props.value as number) - props.min) / diff.value) - 13
    );

    const toggleThumb = () => (showThumb.value = !showThumb.value);

    onMounted(() => {
      w.value = (slider.value as Element).getBoundingClientRect().width;
    });

    return {
      slider,
      w,
      n,
      z,
      showThumb,
      toggleThumb
    };
  }
});
</script>

<style lang="scss">
.mat-slider-container {
  position: relative;

  width: 100%;
  height: 48px;
}

.mat-slider-thumb {
  position: relative;
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--mat-theme-primary, #6200ee);

  transform: rotate(-45deg) scale(0);
  border-radius: 50% 50% 50% 0;

  transition: transform 0.1s ease-out;
}

.mat-slider-thumb--active {
  transform: rotate(-45deg) scale(1);
}

.mat-thumb-value {
  color: var(--mat-theme-text-primary-on-dark, #fff);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
  transform: rotate(45deg);
}

.mat-slider {
  box-sizing: border-box;
  position: absolute;
  top: 24px;

  width: 100%;
  height: 24px;

  padding: 0;
  margin: 0;

  background: transparent;
  outline: none;
  border: none;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  &::-moz-focus-outer {
    border: none;
  }

  &::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--mat-theme-primary, #6200ee);
    border: none;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--mat-theme-primary, #6200ee);
    border: none;
  }

  &::-moz-range-thumb {
    cursor: pointer;
    height: 12px;
    width: 12px;
    border: none;
    border-radius: 50%;
    background: var(--mat-theme-primary, #6200ee);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    height: 12px;
    width: 12px;
    border: none;
    margin-top: -5px;
    border-radius: 50%;
    background: var(--mat-theme-primary, #6200ee);
  }
}
</style>
