<template>
  <div id="app">
    <Widget
      v-for="widget in factories"
      :key="widget.name"
      :name="widget.name"
      :editable="editable && widget.name !== 'settings'"
    >
      <template
        v-slot="{
          x,
          y,
          width,
          height,
          drag
        }"
      >
        <component
          :is="widget"
          :module="widget.name"
          :preserveState="widget.preserveState"
          :style="{
            left: x + 'px',
            top: y + 'px',
            width: width + 'px',
            height: height + 'px'
          }"
          :data-text="widget.name + 'Widget'"
          v-drag:[editable]="{ drag: drag, name: widget.name }"
          style="position: absolute"
        />
      </template>
    </Widget>
  </div>
</template>

<script lang="ts">
import { computed, createComponent } from "@vue/composition-api";
import Widget from "@/components/dashboard/Widget.vue";
import store from "@/store/store";
import { provideStore } from "@/store/plugin";
import { DirectiveBinding } from "vue/types/options";

export default createComponent({
  components: {
    Widget
  },
  directives: {
    drag: {
      update: (el: HTMLElement, binding: DirectiveBinding) =>
        binding.value.name !== "settings"
          ? binding.arg
            ? el.addEventListener("mousedown", binding.value.drag)
            : el.removeEventListener("mousedown", binding.value.drag)
          : null,
      unbind: (el: HTMLElement, binding: DirectiveBinding) =>
        binding.arg && binding.value.name !== "settings"
          ? el.removeEventListener("mousedown", binding.value.drag)
          : null
    }
  },
  setup() {
    provideStore(store);

    const factories = computed(() => store.state.factories);

    const editable = computed(() => store.state.editable);

    return {
      factories,
      editable
    };
  }
});
</script>

<style lang="scss">
@import "~typeface-roboto/index.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "@/typography.scss";
@import "@/theme.scss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  position: relative;
  font-weight: 400;
  height: 100%;
  z-index: 0;
}

.mat-icon {
  fill: currentColor;
}
</style>
