:root {
  --mat-theme-primary: #6200ee;
  --mat-theme-surface: #fff;

  --mat-theme-on-surface: 0, 0, 0;
  --mat-theme-text-primary-on-dark: #fff;
  --mat-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mat-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mat-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mat-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
}
