.mat-typography {
  font-family: Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
}

.mat-typography--headline4 {
  font-weight: 400;
  text-decoration: inherit;
  text-transform: inherit;
  font-size: 2.125rem;
  line-height: 2.5rem;
  letter-spacing: .0073529412em;
}

.mat-typography--headline5 {
  line-height: 2rem;
  text-decoration: inherit;
  text-transform: inherit;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: normal;
}
