<template>
  <mat-list>
    <mat-list-item
      v-for="widget in widgets"
      :key="widget.name"
      :aria-label="'Open' + widget.name + 'Settings'"
      :data-text="'open' + widget.name + 'Settings'"
      @click="$emit('open', widget.mod)"
    >
      <span class="mat-list-item__text">
        {{ widget.name }}
      </span>
    </mat-list-item>
  </mat-list>
</template>

<script lang="ts">
import { createComponent } from "@vue/composition-api";
import MatList from "@/material/list/MatList.vue";
import MatListItem from "@/material/list/MatListItem.vue";

export default createComponent({
  components: {
    MatList,
    MatListItem
  },
  props: {
    widgets: {
      type: Array,
      required: true
    }
  }
});
</script>
