<template>
  <mat-dialog @close="$emit('close')">
    <template v-slot:header>
      <h2 v-if="displayList" class="mat-dialog__title">
        Settings
      </h2>

      <div v-else style="display: flex; align-items: center">
        <i v-if="!editing" @click="goBack" class="material-icons back-arrow">
          arrow_back
        </i>

        <h2 v-if="!editing" class="mat-dialog__title" style="padding-left: 0">
          {{ widgetName }}
        </h2>

        <mat-input
          v-if="editing"
          :value="widgetName"
          @change="widgetName = $event.target.value"
          label="Widget Name"
        />

        <i @click="editing = !editing" class="material-icons">
          {{ editing ? "check" : "edit" }}
        </i>
      </div>
    </template>

    <template v-slot:content>
      <div class="dialog-content-list">
        <transition
          :name="displayList ? 'slide-ltr' : 'slide-rtl'"
          mode="out-in"
        >
          <component
            :is="comp"
            :widgets="widgets"
            :module="widgetMod"
            @open="openSettings"
          ></component>
        </transition>
      </div>
    </template>

    <template v-slot:actions>
      <footer class="mat-dialog__actions">
        <mat-button
          v-if="!displayList"
          @click="removeWidget(widgetMod)"
          aria-label="Remove Widget"
          data-text="removeWidgetBtn"
          class="mat-dialog__button"
        >
          Remove
        </mat-button>

        <mat-button
          @click="$emit('close')"
          aria-label="Close Settings"
          data-text="closeSettingsBtn"
          class="mat-dialog__button"
        >
          Close
        </mat-button>
      </footer>
    </template>
  </mat-dialog>
</template>

<script lang="ts">
import { computed, createComponent, ref } from "@vue/composition-api";
import SettingsList from "@/components/settings/SettingsList.vue";
import { useStore } from "@/store/plugin";

const MatDialog = () => import("@/material/dialog/MatDialog.vue");
const MatButton = () => import("@/material/button/MatButton.vue");
const MatInput = () => import("@/material/input/MatInput.vue");

export default createComponent({
  components: {
    MatButton,
    MatDialog,
    MatInput
  },
  setup() {
    const store = useStore();

    const widgetMod = ref("");
    const displayList = ref(true);
    const editing = ref(false);
    const comp = ref(SettingsList);

    const widgets = computed(() =>
      Object.entries(store.state.widgets).map(([mod, v]) => ({
        mod: mod,
        name: (v as any).name
      }))
    );

    const widgetName = computed({
      get: () =>
        widgetMod.value ? store.state.widgets[widgetMod.value].name : "",
      set: val => store.commit(`widgets/${widgetMod.value}/changeName`, val)
    });

    const goBack = () => {
      displayList.value = !displayList.value;
      comp.value = SettingsList;
    };

    const removeWidget = (mod: string) => {
      store.commit("removeFromDashboard", mod);
      widgetMod.value = "";
      goBack();
    };

    const openSettings = (mod: string) => {
      widgetMod.value = mod;
      displayList.value = false;
      comp.value = store.getters[`widgets/${mod}/settings`];
    };

    return {
      comp,
      widgetMod,
      widgetName,
      displayList,
      editing,
      widgets,
      goBack,
      removeWidget,
      openSettings
    };
  }
});
</script>

<style lang="scss" scoped>
.back-arrow {
  cursor: pointer;
  padding-left: 24px;
  padding-top: 5px;
}

.dialog-content-list {
  height: 336px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.slide-rtl-enter-active,
.slide-ltr-enter-active,
.slide-rtl-leave-active,
.slide-ltr-leave-active {
  transition: all 0.5s ease;
}

.slide-rtl-enter,
.slide-ltr-leave-to {
  opacity: 0;
  transform: translateX(100%);
}

.slide-ltr-enter,
.slide-rtl-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}
</style>
